*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
*.log

# Android Studio
.navigation/
*.hprof

# Keystore
*.jks
*.keystore

# NDK
obj/

# Gradle wrapper jar is committed
!gradle/wrapper/gradle-wrapper.jar
